/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.form {
	text-align: center;
	margin-bottom: 20px;
}

.form div {
	margin-top: 10px;
}

.form div input {
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilo do input */
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

/* Estilo responsivo */
@media (min-width: 768px) {
    input[type="text"],
    textarea {
        width: calc(50% - 10px);
        margin-right: 20px;
}


.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    width: calc(25% - 30px); /* Calcula a largura com a margem subtraída */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

.receitas-user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards */
}

.titulo {
    color: #333;
    margin-bottom: 10px;
}
.favoritar,
.remover {
    padding: 10px 20px;
    background-color: #f90;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.favoritar:hover,
.remover:hover {
    background-color: #ffcc00;
}
.lista-ingredientes {
    margin-bottom: 10px;
}

.lista-ingredientes li {
    list-style: none;
}

.preparacao {
    margin-bottom: 10px;
}

.preparacao li {
    list-style: decimal;
}

/* Estilo das estrelas de avaliação */
.rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 25px;
    margin-bottom: 10px;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
}

.rating label:before {
    content: '\2605';
}

.rating input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #f90;
}

.rating input:checked ~ label:hover,
.rating input:checked ~ label:hover ~ label,
.rating label:hover ~ input:checked ~ label {
    color: #FED;
}  font-weight: bold;
}

.comments {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
}

input[type="button"] {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f90;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

input[type="button"]:hover {
    background-color: #ffcc00;
}
/* Estilo do botão de envio de comentário */
.comentarios-wrapper {
    display: flex;
    align-items: flex-start; /* Alinha itens ao topo */
}

/* Estilo do textarea */
.comments {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

/* Estilo do botão */
.enviar-comentario {
    padding: 10px 20px;
    background-color: #f90;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enviar-comentario:hover {
    background-color: #ffcc00;
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .comentarios-wrapper {
        flex-direction: column; /* Empilha itens verticalmente em telas menores */
    }

    .comments {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
